<form [formGroup]="profileForm" style="padding-top: 80px;">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Nome</label>
            <input type="text" class="form-control" placeholder="Nome" formControlName="nome">

            <div *ngIf="!nome.pristine && nome.errors">
                <p class="form-text text-danger" *ngIf="nome.errors.required">
                  Informe o nome do cliente.
                </p>
                <p class="form-text text-danger" *ngIf="nome.errors.minlength">
                  Informe no mínimo 2 caracters.
                </p>
  
              </div>
        </div>
        <div class="form-group col-md-3">
            <label for="inputPassword4">CPF</label>
            <input type="text" class="form-control" placeholder="CPF" formControlName="cpf" mask="000.000.000-99">
            
            <div *ngIf="!cpf.pristine && cpf.errors">
                <p class="form-text text-danger" *ngIf="cpf.errors.required">
                  Informe o cpf do cliente.
                </p>
                <p class="form-text text-danger" *ngIf="cpf.errors.minlength">
                  Informe no mínimo 11 caracters.
                </p>
  
              </div>
       
        </div>
        <div class="form-group col-md-3">
            <label for="inputAddress">CEP</label>
            <input type="text" class="form-control" placeholder="CEP" formControlName="cep" mask="99999-999">
            <div *ngIf="!cep.pristine && cep.errors">
                <p class="form-text text-danger" *ngIf="cep.errors.required">
                  Informe o cep do cliente.
                </p>
                <p class="form-text text-danger" *ngIf="cep.errors.minlength">
                  Informe no mínimo 8 caracters.
                </p>
  
              </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-8">
            <label for="inputAddress2">Rua</label>
            <input type="text" class="form-control" placeholder="Rua" formControlName="logradouro">
        </div>

        <div class="form-group col-md-4">
            <label for="inputCity">Bairro</label>
            <input type="text" class="form-control" formControlName="bairro">
        </div>

    </div>

    <div class="form-row">


        <div class="form-group col-md-4" formGroupName="estado">
            <label for="inputState">Estado </label>
            <select [compareWith]="compareFn" id="inputState" class="form-control" formControlName="uf"
                (change)="changeCity()">
                <option *ngFor="let estado of estados" [ngValue]="estado">{{ estado.nome }}</option>
            </select>
        </div>
        <div class="form-group col-md-4" *ngIf="visaoCidade" formGroupName="cidade">
            <label for="inputState">Cidade</label>
            <select id="inputState" class="form-control" formControlName="localidade">
                <option *ngFor="let cidade of cidades" [ngValue]="cidade">{{ cidade.nome }}</option>
            </select>
        </div>
    </div>

    <button type="submit" class="btn btn-dark" (click)="onSubmit()"
        style="margin-right: 4px;min-width: 80px;"
        [disabled]="!profileForm.valid"
        >Salvar</button>
    <button type="submit" class="btn btn-danger" (click)="onCancel()">Cancelar</button>
</form>